<mat-toolbar color="warn" style="justify-content: space-between;">
  <div style="display: flex;align-items: center;">
    <ng-container *ngIf="isLoggedIn()">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/create']">Create Post</button>
        <button mat-menu-item [routerLink]="['/list']">Post List</button>
      </mat-menu>
    </ng-container>
    <h1>Please <span>Kill</span> Me {{username}}</h1>
  </div>
  <div class="custom" style="display: flex;">
    <!-- put the log out button here -->
    <button class="red-button" mat-button (click)="logout()" *ngIf="isLoggedIn()">Log Out</button>
    <!-- display a log in button here for redirection and register if the user is not logged in -->
    <button class="red-button" mat-button [routerLink]="['/login']" *ngIf="!isLoggedIn()">Log In</button>
    <p *ngIf="!isLoggedIn()">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
    <button class="red-button" mat-button [routerLink]="['/register']" *ngIf="!isLoggedIn()">Register</button>
    <!-- add a forgot password button here -->
    <p *ngIf="!isLoggedIn()">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
    <button class="red-button" mat-button [routerLink]="['/forgot-password']" *ngIf="!isLoggedIn()">Forgot
      Pass?</button>
  </div>
</mat-toolbar>