<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <div class="card transparent-card" style="max-width: 500px;">
    <div class="card-body">
      <form [formGroup]="form" (submit)="submit()">
        <h1 class="h3 mb-3 fw-normal text-center">SIGN IN</h1>
        <div class="form-group mb-3">
          <label for="usernameOrEmail">PARTICIPANT</label>
          <input formControlName="usernameOrEmail" type="text" class="form-control" id="usernameOrEmail"
            placeholder="Username or Email" required>
        </div>
        <div class="form-group mb-3">
          <label for="password">SECRET KEY</label>
          <div class="input-group">
            <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" id="password" class="form-control right-radius"
              placeholder="Password" required>
            <button mat-icon-button type="button" (click)="hidePassword = !hidePassword" class="toggle-password eye-icon">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>
        <!-- <div *ngIf="errorMessage" class="error-message alert alert-danger mt-3"
          style="max-width: 500px; overflow-wrap: break-word;">
          {{ errorMessage }}
        </div> -->
        <button class="w-100 btn btn-lg btn-primary transparent-button" type="submit" [disabled]="countdown !== null">ENTER</button>
      </form>
    </div>
  </div>
</div>