<mat-card>
	<form
		(submit)="onAddPost(postForm)"
		#postForm="ngForm">
		<mat-form-field>
			<mat-label>Title</mat-label>
			<input
				matInput
				type="text"
				name="title"
				[(ngModel)]="title"
				required
				#titleInput="ngModel" />
			<mat-error *ngIf="titleInput.invalid">Please Enter A Post Title</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Content</mat-label>
			<textarea
				matInput
				rows="4"
				name="content"
				[(ngModel)]="content"
				required
				#contentInput="ngModel">
			</textarea>
			<mat-error *ngIf="contentInput.invalid">Please Enter A Post Content</mat-error>
		</mat-form-field>
		<button
			mat-raised-button
			color="warn"
			type="submit"
			*ngIf="!postId">
			Add Post
		</button>
		<button
			mat-raised-button
			color="warn"
			type="submit"
			*ngIf="postId">
			Save Post
		</button>
	</form>
</mat-card>
