@import '~bootstrap/dist/css/bootstrap.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

body {
  background-image: url(https://i.pinimg.com/originals/9b/fd/68/9bfd687d937f8f625620d0e1349716df.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

main {
  margin: 1rem;
}

h1 {
  font-family: 'HelpMe' !important;
  font-size: 2rem;
  color: red;
}

